@using QuizApp.Domain
@model List<Quiz>

<h2>Quizzes</h2>

<a asp-action="Create" class="btn btn-primary">Create new quiz</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model)
        {
            <tr>
                <td>@quiz.Title</td>
                <td>@quiz.Description</td>
                <td>
                    <a asp-action="SelectedQuiz"
                       asp-route-id="@quiz.Id"
                       class="btn btn-outline-success">
                        Start
                    </a>

                    <a asp-action="Edit"
                       asp-route-id="@quiz.Id"
                       class="btn btn-warning">
                        Edit
                    </a>
                    <a asp-action="Delete"
                       asp-route-id="@quiz.Id"
                       class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
